<% if (post.author) { %>
  <a href="<%= ('https://github.com/' + post.author.github) %>" class="<%= class_name %>">
  <%- image_tag(gravatar(post.author.email, 30), {class: 'author_gravatar'}) %>
  <span class="author_name"><%= (post.author.name) %></span>
<% } %>
