<% if (post.author) { %>
  <a href="<%= ('https://github.com/' + post.author.github) %>" class="<%= class_name %>">
  <%- image_tag('https://github.com/' + post.author.github + '.png?size=30', {class: 'author_gravatar'}) %>
  <span class="author_name"><%= (post.author.name) %></span>
<% } %>
